<input [(ngModel)]="name" type="text" placeholder="Enter your name" />
<input [(ngModel)]="subject" type="text" placeholder="Enter your Subject" />
<input
  [(ngModel)]="testScore1"
  type="number"
  placeholder="Enter your Test Score 1 "
/>
<input
  [(ngModel)]="testScore2"
  type="number"
  placeholder="Enter your Test Score 2 "
/>

<p>
  <strong>Name:</strong> {{ name }}<br />
  <strong>Subject:</strong> {{ subject }}<br />
  <strong>Test Score 1:</strong> {{ testScore1 }}<br />
  <strong>Test Score 2:</strong> {{ testScore2 }}
</p>
